.pokemon-list-outer {
  /* border: 1px solid #777; */
  grid-area: main;
}

.pokemon-list-inner {
  display: grid;
  width: 100%;
  /* grid-area: main; */
  grid-template-columns: repeat(3, 15em);
  align-items: center;
  justify-items: center;
  justify-content: center;
  column-gap: 1em;
  row-gap: 1em;
}

@media (max-width: 80em) {
  .pokemon-list-inner {
    grid-template-columns: repeat(2, 15em);
  }
}

@media (max-width: 45em) {
  .pokemon-list-inner {
  grid-template-columns: repeat(1, 15em);
  }
}
