@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin-motion infinite 1s linear;
  }
}

@keyframes spin-motion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 60%;
}