p {
  margin-block-start: 0em;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
}

* {
  text-decoration: none;
}

.dark {
  background-color: rgb(27, 27, 27);
}

.dark * {
  color: white;
}

.dark button {
  background-color: rgb(27, 27, 27);
}

.dark header {
  background-color: rgb(27, 27, 27);
}

.light {
  background-color: white;
}

.light * {
  color: black;
}

.light button {
  background-color: white;
}

.light header {
  background-color: white;
}

.content {
  margin-top: 5em;
  justify-content: center;
  max-width: 60em;
  min-width: 15em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header"
    "main";
}
